<style>
  .page_team_chat-with-sales .chat-with-sales-popup-center {align-items: center;justify-content: center;display: flex;}
  .page_team_chat-with-sales .chat-with-sales-popup-wrapper {max-width: 820px;background: #F3EEEA;width: 100%;padding: 70px 0;align-items: center;justify-content: center;display: flex;}
  .page_team_chat-with-sales .chat-with-sales-popup {text-align: center; max-width: 36em;}
  .page_team_chat-with-sales .chat-with-sales-popup h2 {line-height: 31px;}
  .page_team_chat-with-sales .chat-with-sales-popup input, .chat-with-sales-popup textarea {padding: .7em 1em; background: #fff;}
  .page_team_chat-with-sales .chat-with-sales-popup form {margin-top: 2em;}
  .page_team_chat-with-sales .chat-with-sales-popup .btn {margin-top: 2em;}
  .page_team_chat-with-sales .chat-with-sales-popup .text-left {text-align: left;}
  .page_team_chat-with-sales .chat-with-sales-popup label {font-family: Quicksand,sans-serif;font-weight:400;font-style:normal;letter-spacing:.02em;cursor:default;padding-top:0;}
  .page_team_chat-with-sales .chat-with-sales-popup textarea {background: #fff;min-height:64px;}
  .page_team_chat-with-sales .chat-with-sales-popup .radio-label {font-weight: 500;margin-right: 20px;}
  .page_team_chat-with-sales .chat-with-sales-popup .radio-label.error {color: #ff5656;}
  .page_team_chat-with-sales .chat-with-sales-popup .required-star {color: #fd2728;}
  .page_team_chat-with-sales .chat-with-sales-popup p {color: #314438;}
  .page_team_chat-with-sales .chat-with-sales-input-wrapper input:not([type=radio]), .page_team_chat-with-sales .chat-with-sales-input-wrapper .input-radios {margin-bottom: 12px;}
  @media only screen and (min-width: 600px) {
    .page_team_chat-with-sales .chat-with-sales-popup .cwsp-two-column-wrapper {display: flex;}
    .page_team_chat-with-sales .chat-with-sales-popup .cwsp-two-column-wrapper .cwsp-column-left {flex:0 0 48%;margin-right:4%;}
  }
  @media all and (max-width: 600px){
    .page_team_chat-with-sales .c-iwt-container {padding-top: 60px; padding-bottom: 60px;}
    .page_team_chat-with-sales .chat-with-sales-popup .radio-label {margin-right: 5px;}
    .page_team_chat-with-sales .chat-with-sales-popup input, .chat-with-sales-popup textarea {padding: .4em 1em}
    .page_team_chat-with-sales .chat-with-sales-popup-wrapper {max-width: 340px;padding: 0 25px;background: transparent;}
    .page_team_chat-with-sales .chat-with-sales-popup .btn {width: 100%;max-width: 270px;}
    .page_team_chat-with-sales .chat-with-sales-popup .chat-with-sales-input-wrapper {padding-left: 20px; padding-right: 20px;}
    .page_team_chat-with-sales .chat-with-sales-popup input[type="radio"] {padding-right: 0; margin-right: 0;}
    .page_team_chat-with-sales .chat-with-sales-input-wrapper input:not([type=radio]), .page_team_chat-with-sales .chat-with-sales-input-wrapper .input-radios {margin-bottom: 7px;}
  }
</style>
<div class="page_team_chat-with-sales">
  <div class="c-lwt-section">
    <div class="c-iwt-container">
      <div class="chat-with-sales-popup-center">
        <div class="chat-with-sales-popup-wrapper">
          <div class="chat-with-sales-popup">
            <div class="wrap">
              <div class="form-wrap">
                <h2 id="subscription-popup-title">Let's work together</h2>
                <p>Get a quote, request a free space plan, check lead times for your area, or just learn more about our products!</p>
                <div class="error-msg"></div>
                <form class="form animated" method="post" action="/contact">
                  <div class="chat-with-sales-input-wrapper text-left">
                    <input type="hidden" value="customer" name="form_type">
                    <input type="hidden" name="contact[tags]" value="prospect,newsletter"/>
                    <div class="cwsp-two-column-wrapper">
                        <div class="cwsp-column-left">
                            <label>Your name<span class="required-star">*</span></label>
                            <input type="text" placeholder="" name="contact[name]" class="required" aria-label="Enter your Name" aria-required="true" />
                        </div>
                        <div>
                            <label>Your company's name<span class="required-star">*</span></label>
                            <input type="text" placeholder="" name="contact[company]" class="required" aria-label="Enter your Company" aria-required="true" />
                        </div>
                    </div>
                    <label>Your email<span class="required-star">*</span></label>
                    <input type="text" placeholder="" name="contact[email]" class="required" aria-label="Enter your Email" aria-required="true" />
                    <label>Your phone number</label>
                    <input type="text" placeholder="" name="contact[phone]" aria-label="Enter your Phone" aria-required="true" />
                    <label>Your office size (# of employees)<span class="required-star">*</span></label>
                    <br/>
                    <div class="input-radios">
                      <input type="radio" name="contact[office]" value="1-10" /> <span class="radio-label">1-10</span>
                      <input type="radio" name="contact[office]" value="11-50" /> <span class="radio-label">11-50</span>
                      <input type="radio" name="contact[office]" value="51-100" /> <span class="radio-label">51-100</span>
                      <input type="radio" name="contact[office]" value="100+" /> <span class="radio-label">100+</span>
                    </div>
                    <label>Your project (any details on space or office needs you want to share)</label>
                    <textarea name="contact[message]" rows="2"></textarea>
                  </div>
                  <button class="btn" type="submit">Submit</button>
                  <p style="margin-top:25px;margin-bottom:0px;">Or send us a quick note to <a href="mailto:sales@branchfurniture.com">sales@branchfurniture.com</a></p>
                </form>
              </div>
              <div class="success-msg">
                <h2>Thank you for your interest!</h2>
                <p class="success-p">A Branch Expert will get in touch sooner than you can say space plan.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>  
  $(function(){
    $('.chat-with-sales-popup form').submit(function(e){
      e.preventDefault();
      e.stopImmediatePropagation();
      var form = $(this);
      var error = false;
      
      form.parent().find('.error-msg').hide();
      form.find('.error').removeClass('error');
      form.find('.required').each(function(){
        if($(this).val()=="") {
          error = true;
          $(this).addClass('error');
        }
      });
      if (!$('input[name="contact[office]"]:checked').val()) {
        error = true;
        $('.radio-label').addClass('error')
      } else {
        $('.radio-label').removeClass('error')
      }
      if(error){
          form.parent().find('.error-msg').show().text('Please complete all the required fields.');
      }else{
        if(!Simplistic.validateEmail(form.find('input[name="contact[email]"]').val())) {
          error = true;
          form.find('input[name="contact[email]"]').addClass('error');
          form.parent().find('.error-msg').show().text('Please provide a valid email address.');
        }
      }
      var name = (form.find('input[name="contact[name]"]').val() || '').split(' ');
      var firstName = name[0] || '';
      var lastName = name[1] || '';
      if(!error) {
        var processAjax = function(arr, callback){
          var pending = arr.length;
          $.each(arr, function(){
            this.always(function(){
              pending--;
              if(pending==0) {
                callback();
              }
            });
          });
        };
        var ajaxHubspot = $.ajax({
          'url': 'https://api.hsforms.com/submissions/v3/integration/submit/5361087/13675c0e-ee7b-40b0-94cc-9c106c91b238',
          'type': 'POST',
          contentType: 'application/json',
          data: JSON.stringify({
            fields: [
              {name: 'referring_url', value: window.location.href},
              {name: 'referring_product_variant', value: ''},
              {name: 'email', value: form.find('input[name="contact[email]"]').val()},
              {name: 'firstname', value: firstName},
              {name: 'lastname', value: lastName},
              {name: 'company', value: form.find('input[name="contact[company]"]').val()},
              {name: 'phone', value: form.find('input[name="contact[phone]"]').val()},
              {name: 'office_headcount', value: form.find('input[name="contact[office]"]:checked').val()},
              {name: 'message', value: form.find('textarea[name="contact[message]"]').val()}
            ]
          })
        });
        processAjax([ajaxHubspot], function(){
          form.parent().hide();
          form.parent().parent().find('.success-msg').show();
        });
      }
    });
  });
</script> 