{% include 'shogun-products', content: collection %}
{{collection.metafields.shogun.above}}
<style>
  .collection-wrapper {padding: 2.5em 0;}
  
  @media all and (max-width: 900px){
    #collection {padding: 0 1rem;}
    .collection-wrapper {padding: 1.5em 0;}
  }
</style>

{%- include '_collection_text_image' -%}
<section class="collection-wrapper collection-{{collection.handle}}">
  <h1 class="visuallyhidden">{{collection.title}}</h1>
  {%- include '_collection_menu' -%}
  {%- include '_collection_custom' -%}
</section>

{{collection.metafields.shogun.below}}