{% render 'shogun-products', content: collection %}

{{collection.metafields.shogun.above}}
<style>
  .collection-wrapper {padding: 2.5em 0;}
  .collection-wrapper .button {margin-top: 1em;}
  @media all and (max-width: 900px){
    .collection-wrapper {padding: 1.5em 0;}
  }
</style>

<section class="collection-wrapper collection-{{collection.handle}}">
  <h1 class="visuallyhidden">All Products</h1>
  {%- include '_collection_workplace_list' -%}

</section>

{{collection.metafields.shogun.below}}


