{% if template.name == "index" %}
<style>  
/*   :root {
    --transition-speed: .25s;
  }
  
  .header {    
    background: transparent;
    color: white;
    transition: all var(--transition-speed) ease-in;
  }
  
  .header:hover {
    background: #F3EEEA;
    transition: all var(--transition-speed) ease-in;
    
  }
  
  #header:hover {
    color: #314438 !important;
    fill: #314438 !important;
  }
  
  #header.over-carousel {
    color: white;
  }
  
  .cart-wrap>svg {
  	fill: white;
   }
  
  #header.over-carousel :not(.utility-bar) a:not(:hover) svg path {
	fill: #fff;
} */
    
/*     .dropbtn-currency {
      color: white;
    }

    .dropbtn-currency option {
      color: #222 !important;
    } */

/*     .logo-container {
      display: grid;
      justify-content: center;
      align-items: center;
      background-color: #F3EEEA;
      padding: 4px;
      border-radius: 3px;
      outline: 2px solid white;
      outline-offset: 4px;
    } */  
</style>
{% endif %}

<div id="home">
  {{ content_for_index }}
</div>